<%- include('includes/_header') %>
<!-- main site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All categories</a>
           </div>
        </div>
        <!-- form handling -->
        <%- include('includes/_form') %>
    </div>  
</main>
<!-- main site closed -->
<%- include('includes/_footer') %>
