<%- include('includes/_header') %>
<!-- main site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All categories</a>
           </div>
        </div>
        <!-- form handling -->
        <form method="POST" id="update_user">
            <div class="new_user">
                <div class="form-group">
                 <label for="name" class="text-light">Update Category</label>
                 <input type="hidden" name="id" value="<%=singleData._id %>">
                 <input type="text" name="name" value="<%=singleData.category %>" placeholder="Mobile"/>
               </div>
               <div class="form-group">
                 <button type="submit" class="btn text-dark update">Save</button>
               </div>
            </div>
         </form>
    </div>  
</main>
<!-- main site closed -->
<%- include('includes/_footer') %>
